<!DOCTYPE html>{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Comments</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_detail.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <h1 style="font-size:50px"><strong>NOIYS</strong></h1>
        </div>
        <div class="menu">
            <a href="{% url 'post_list' %}">Home</a>
            <a href="{% url 'profile' %}">About</a> {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Log out</a> {% else %}
            <a href="{% url 'login' %}">Log in</a> {% endif %}
        </div>
        <div class="profileIcon" style="margin-right: 50px;">
            <a href="profile.html">
                <img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.6435-9/219267358_3088269761393869_6177724383668765642_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=scqOyzX44-kAX92AEz5&_nc_ht=scontent.fbkk10-1.fna&oh=ecd3645c910d395c35c9c206a7f1d9ee&oe=6149AB68"
                    alt="Img">
            </a>
            <br>
            <h4 style="color: #fff"><strong><a href="{% url 'tasks' %}">Hello {{request.user|title}}</a></strong></h4>
        </div>
    </header>
    <div class="container">
        <div class="row justify-content-md-center pt-5">
            <div class="col-7">
                <h1>{{post.title}}</h1>
            </div>
            <div class="col-7">
                <p>{{post.content|safe}}</p>
            </div>
            <div class="col-md-7">
                {% with comments.count as total_comments %}
                <h2>
                    {{ total_comments }} comment{{ total_comments|pluralize }}
                </h2>
                {% endwith %} {% for comment in comments %} Comment {{ forloop.counter }} by {{ comment.name }} on {{ comment.publish }} {{ comment.content|linebreaks }} {% empty %}
                <p>There are no comments for this post.</p>
                {% endfor %}
                <h2>Make a new comment</h2>

                <form id="myForm" method="post">
                    {{ comment_form.as_p }} {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </form>

            </div>
        </div>
    </div>
    <script>
        $('#myForm').trigger("reset");
    </script>
</body>

</html>